.table-bordered {
    border: 1px solid silver;
    background-color: #dfdbdb;
    border-color: #FFFFF0;
    text-align: center;
}

th {
    text-align: inherit;
    color: white;
    background-color: rgb(51, 63, 79);
    font-family: 'Century Gothic';
    font-weight: normal;
    height: auto;
    font-size: 14px;
}

/*Configuração do cabeçalho da tabela inadimplência */

th.cabecalho {
    text-align: center;
    height: max-content;
    width: max-content;
    font-size: 16px;
}

td {
    color: black;
    font-weight: normal;
    width: 33%;
    background-color: #FFFFFF;
    text-align: right;
}

/*Configuração dos indacadores */

th.color {
    color: black;
    font-weight: normal;
    width: 50%;
    height: 30px;
    background-color: #FFF8DC;
    font-family: 'Century Gothic';
    font-size: 15px;
}

font.vermelho {
    color: red;
}

font.verde {
    color: green;
}

h2 {
    font-family: 'Century Gothic';
    text-align: inherit;
    color: rgb(51, 63, 79);
}

td.azul {
    color: #3A5FCD;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid silver !important;
    table-layout: fixed;
    box-sizing: border-box;
    border-collapse: collapse;
    width: 30px;
    height: 20px;
    padding: 10px;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid whitesmoke;
    width: 100px;
    height: 30px;
    padding: 5px;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid white;
}

.table tbody+tbody {
    border-top: 1px solid rgb(51, 63);
}

li {
    text-align: center;
}

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
}

.navbar-expand-lg {
    width: auto;
    height: 60px;
    margin-top: -6px;
    position: relative;
    background-color: #3A5FCD;
    text-align: center;
    color: #3A5FCD;
}

.navbar-dark .navbar-brand {
    color: #3A5FCD;
}

.navbar-dark .navbar-nav .nav-link {
    color: #3A5FCD;
}

.minhabrand {
    color: #3A5FCD;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
}

#celula1 {
    width: 100px;
    padding: 10px;
}

#celula2 {
    width: 200px;
    padding: 10px;
}

.teste {
    background-color: gray;
}

img {
    width: auto;
    height: auto;
}

td.especial {
    background-color: #dfdbdb;
    border-color: #dfdbdb;
    border: 1px solid whitesmoke !important;
    width: 20px;
    height: 30px;
    padding: 5px;
}